.entryDate {
	color: var(--bh4);
	font-size: 12px;
}

.entryTitle {
	font-size: 18px;
	font-weight: bold;
	margin: 0 16px 8px 16px;
}

.entryData {
	flex: 1;
}

.icon {
	flex: 0;
	font-size: 24px;
	color: var(--patreon);
}

.entryRow {
	display: flex;
	flex-direction: row;
	padding: 8px;
	border: 1px solid var(--bh1);
	justify-content: space-between;
	align-items: center;
	background: var(--bhBg);
}
.entryRow:hover {
	background: var(--bhHover);
}
