@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg: #111;
	--text: #fff;
	--white: #fff;
	--patreon: rgb(217 59 38);
	--applePodcasts: #872ec4;
	--spotify: #16883e;
	--yellow: rgb(237, 237, 55);

	--bh1: rgb(27, 14, 8);
	--bh2: rgb(96, 120, 101);
	--bh3: rgb(106, 161, 143);
	--bh4: rgb(162, 197, 183);
	--bh5: rgb(138, 0, 16);
	--bhBg: rgba(27, 14, 8, 0.5);
	--bhHover: rgba(106, 161, 143, 0.15);
}

/* DEFAULTS */
* {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

html {
	background: var(--bg);
	background: linear-gradient(180deg, var(--bg), var(--bg2) 100%);
	min-height: 100vh;
	height: 100%;
	overflow: hidden;
}
html body {
	font-size: 16px;
	padding: 0;
	margin: 0;
	width: 100vw;
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	color: var(--white);
	height: 100%;
	overflow: hidden;
}
a {
	transition: color 150ms ease-in;
	/* color: var(--bh4); */
	/* color: var(--white); */
	text-decoration: none;
}
a:hover {
	/* color: var(--bh4); */
	/* color: var(--white); */
}

.scroller {
	width: 100%;
	height: 100dvh;
	margin-left: auto;
	margin-right: auto;
	padding: 0px 16px 0px 16px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.page {
	display: flex;
	flex-direction: column;
	max-width: 900px;
	width: 100%;
	min-height: 100vh;
}

.pageDetails {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	gap: 1rem;
}

.pageDescription {
	font-size: 1.1rem;
	line-height: 1.5;
	width: 100%;
	max-width: 800px;
}
@media screen and (max-width: 420px) {
	.pageDescription {
		font-size: 1rem;
	}
}

.pageRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	transform: translateZ(0px);
	width: 100%;
	gap: 1rem;
}

.header {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin: 1rem;
}

.headerLogo {
	height: auto;
	max-width: 450px;
	width: 100%;
}

.iframe {
	width: 100%;
	max-width: 660px;
	border: none;
}

.episodesContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 720px;
	width: 100%;
}

.navContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 16px;
}

.ratingsWrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 0.25rem;
}

.patreonWrapper {
	margin: 32px 0px;
	max-width: 800px;
	width: 100%;
}
