.entryDate {
	color: var(--bh4);
	font-size: 12px;
}

.entryTitle {
	font-size: 18px;
	font-weight: bold;
	margin: 0px 0px 8px 0px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.entryData {
	flex: 1;
	margin: 0px 16px;
	text-align: left;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.icon {
	flex: 0;
	font-size: 24px;
	color: var(--patreon);
}

.entryRow {
	display: flex;
	flex-direction: row;
	padding: 8px;
	border: 1px solid var(--bh1);
	justify-content: space-between;
	align-items: center;
	background: var(--bhBg);
}
.entryRow:hover {
	background: var(--bhHover);
}
